@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: linen;
    width: 100vw;
    overflow-x: hidden;
    font-family: "Josefin Sans", sans-serif;
}

.animatedButton {
    animation-duration: 50000ms;
}

.ql-container {
    border: none !important;
}

.ql-toolbar {
    border: none !important;
}

.ql-editor {
    border: none !important;
}